boto3==1.35.71
Django==5.1.3
django-cors-headers==4.6.0
django-environ==0.11.2
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
botocore==1.35.71
pillow==11.0.0
psycopg2==2.9.10
PyJWT==2.10.1
python-decouple==3.8
torch==2.5.1
transformers==4.46.3
sendgrid==6.11.0
regex==2024.11.6
requests==2.32.3
